version: '3.8'

services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
      
    command: redis-server --save 60 1 --loglevel warning

  producer:
    build: ./producer
    ports:
      - "8000:8000"
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis

  worker:
    build: ./worker
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
